@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

/* Police globale Didot (Playfair Display) */
body {
  @apply font-didot;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to   { opacity: 1 }
}
.animate-fadeIn {
  animation: fadeIn 1s ease forwards;
}
